
<link rel="stylesheet" href="{{ asset('/css/style.css') }}">

{% block body %}

<div class="login-page">
  <div class="form">
        <img class="m-2"
        src="{{ asset('images/logoSmartBorne.jpg') }}"
        width="100" height="100" alt="Logo Smart Borne">
        <form action="{{ path('connexion_login') }}" method="post" class="login-form">
            <input type="text" name="_username" id="username" placeholder="username"/>
            <input type="password" name="_password" id="password" class="" placeholder="password" required/>
            <button type="submit" >Connexion</button>
            {# TO DO : <a href="#">Mot de passe oublié</a> #}
        </form>
  </div>
</div>

{% endblock %}
