{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}

<h1>Clients</h1>

<a href="#" class="btn btn-dark">Ajouter un client</a>
<input type="text" value="rechercher">
<label for="tri">TRIER PAR</label>
<select name="tri" id="tri">
    <option value="DESC">Ordre décroissant</option>
    <option value="ASC">Ordre croissant</option>
</select>

<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <img class="card-img-top" src="#" alt="#">
            <img class="card-img-top" src="#" alt="détail">
            <h5 class="card-title">Nom</h5>
            <p class="card-text">Référent : Prénom Nom</p>
            <div class="row">
                <div class="col">Téléphone</div>
                <div class="col">Mail</div>
            </div>
        </div>
        <div class="card-footer">
            <p>Date-Début - Date-Fin</p>
            <p>nb écran</p>
            <p>nb campagne</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <img class="card-img-top" src="#" alt="#">
            <img class="card-img-top" src="#" alt="détail">
            <h5 class="card-title">Nom</h5>
            <p class="card-text">Référent : Prénom Nom</p>
            <div class="row">
                <div class="col">Téléphone</div>
                <div class="col">Mail</div>
            </div>
        </div>
        <div class="card-footer">
            <p>Date-Début - Date-Fin</p>
            <p>nb écran</p>
            <p>nb campagne</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <img class="card-img-top" src="#" alt="#">
            <img class="card-img-top" src="#" alt="détail">
            <h5 class="card-title">Nom</h5>
            <p class="card-text">Référent : Prénom Nom</p>
            <div class="row">
                <div class="col">Téléphone</div>
                <div class="col">Mail</div>
            </div>
        </div>
        <div class="card-footer">
            <p>Date-Début - Date-Fin</p>
            <p>nb écran</p>
            <p>nb campagne</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <img class="card-img-top" src="#" alt="#">
            <img class="card-img-top" src="#" alt="détail">
            <h5 class="card-title">Nom</h5>
            <p class="card-text">Référent : Prénom Nom</p>
            <div class="row">
                <div class="col">Téléphone</div>
                <div class="col">Mail</div>
            </div>
        </div>
        <div class="card-footer">
            <p>Date-Début - Date-Fin</p>
            <p>nb écran</p>
            <p>nb campagne</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <img class="card-img-top" src="#" alt="#">
            <img class="card-img-top" src="#" alt="détail">
            <h5 class="card-title">Nom</h5>
            <p class="card-text">Référent : Prénom Nom</p>
            <div class="row">
                <div class="col">Téléphone</div>
                <div class="col">Mail</div>
            </div>
        </div>
        <div class="card-footer">
            <p>Date-Début - Date-Fin</p>
            <p>nb écran</p>
            <p>nb campagne</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <img class="card-img-top" src="#" alt="#">
            <img class="card-img-top" src="#" alt="détail">
            <h5 class="card-title">Nom</h5>
            <p class="card-text">Référent : Prénom Nom</p>
            <div class="row">
                <div class="col">Téléphone</div>
                <div class="col">Mail</div>
            </div>
        </div>
        <div class="card-footer">
            <p>Date-Début - Date-Fin</p>
            <p>nb écran</p>
            <p>nb campagne</p>
        </div>
    </div>
</div>

{% endblock %}
