{% extends 'base.html.twig' %}

{% block title %}Création Utilisateur{% endblock %}

{% block body %}

  
        <h1>Créer un nouvel utilisateur</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-dark">Enregistrer</button>
        {{ form_end(form) }}

  

{% endblock %}